apiVersion: v1
kind: Namespace
metadata:
  name: dev
---
apiVersion: v1
kind: ResourceQuota
metadata:
  name: compute-resources
  namespace: qa
spec:
  hard:
    requests.cpu: "2000m"
    requests.memory: "2Gi"
    limits.cpu: "4000m"
    limits.memory: "4Gi"
    pods: "20"
---
apiVersion: v1
kind: LimitRange
metadata:
  name: default-limits
  namespace: qa
spec:
  limits:
  - default:
      cpu: "500m"
      memory: "512Mi"
    defaultRequest:
      cpu: "100m"
      memory: "256Mi"
    type: Container
