apiVersion: v1
kind: Secret
metadata:
  name: booking-secrets
  namespace: qa
type: Opaque
data:
  # Senha: Your_password123 (Base64)
  sql-password: WW91cl9wYXNzd29yZDEyMw==
  # RabbitMQ guest:guest
  rabbitmq-pass: Z3Vlc3Q=
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-sqlserver
  namespace: qa
spec:
  selector:
    matchLabels:
      app: sqlserver
  template:
    metadata:
      labels:
        app: sqlserver
    spec:
      containers:
      - name: mssql
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
        - containerPort: 1433
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: MSSQL_SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: booking-secrets
              key: sql-password
---
apiVersion: v1
kind: Service
metadata:
  name: sqlserver-service
  namespace: qa
spec:
  selector:
    app: sqlserver
  ports:
  - port: 1433
    targetPort: 1433
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-redis
  namespace: qa
spec:
  selector:
    matchLabels:
      app: redis
  template:
    metadata:
      labels:
        app: redis
    spec:
      containers:
      - name: redis
        image: redis:latest
        ports:
        - containerPort: 6379
---
apiVersion: v1
kind: Service
metadata:
  name: redis-service
  namespace: qa
spec:
  selector:
    app: redis
  ports:
  - port: 6379
    targetPort: 6379
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: booking-rabbitmq
  namespace: qa
spec:
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
      - name: rabbitmq
        image: rabbitmq:3-management
        ports:
        - containerPort: 5672
        - containerPort: 15672
---
apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  namespace: qa
spec:
  selector:
    app: rabbitmq
  ports:
  - name: amqp
    port: 5672
    targetPort: 5672
  - name: management
    port: 15672
    targetPort: 15672
