apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-api
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-api
  template:
    metadata:
      labels:
        app: payment-api
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - payment-api
              topologyKey: "kubernetes.io/hostname"
      initContainers:
      - name: wait-for-deps
        image: python:3.9-slim
        command: ['sh', '-c', 'until python -c "import socket; s = socket.socket(); s.settimeout(2); s.connect((\"rabbitmq-service\", 5672))"; do echo waiting for rabbitmq; sleep 2; done;']
        resources:
          limits:
            cpu: "50m"
            memory: "64Mi"
          requests:
            cpu: "50m"
            memory: "64Mi"
      containers:
      - name: payment-api
        image: fcavarzare/projeto-reserva:payment-api-latest
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
        env:
        - name: ConnectionStrings__RabbitMQ
          value: "rabbitmq-service"
        resources:
          limits:
            cpu: "200m"
            memory: "512Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: payment-api-service
  namespace: dev
spec:
  selector:
    app: payment-api
  ports:
  - port: 80
    targetPort: 8080
