apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-api
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: payment-api
  template:
    metadata:
      labels:
        app: payment-api
    spec:
      affinity:
        podAntiAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          - weight: 100
            podAffinityTerm:
              labelSelector:
                matchExpressions:
                - key: app
                  operator: In
                  values:
                  - payment-api
              topologyKey: "kubernetes.io/hostname"
      initContainers:
      - name: wait-for-deps
        image: busybox:latest
        command: ['sh', '-c', 'until nc -z sqlserver-service 1433 && nc -z rabbitmq-service 5672; do echo waiting for sqlserver and rabbitmq; sleep 2; done;']
      containers:
      - name: payment-api
        image: fcavarzare/projeto-reserva:payment-api-0ce34dfac9cda9457e61dc70566fb8ac23d9b14c
        ports:
        - containerPort: 8080
        env:
        - name: ConnectionStrings__RabbitMQ
          value: "rabbitmq-service"
        resources:
          limits:
            cpu: "50m"
            memory: "128Mi"
---
apiVersion: v1
kind: Service
metadata:
  name: payment-api-service
  namespace: dev
spec:
  selector:
    app: payment-api
  ports:
  - port: 80
    targetPort: 8080



