name: promote-qa-to-prod

on:
  workflow_dispatch:

permissions:
  contents: write

jobs:
  promote:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Promote All Microservices to PROD
        shell: bash
        run: |
          set -euo pipefail
          services=("booking-api" "payment-api" "identity-api" "web-ui")
          for service in "${services[@]}"; do
            QA_FILE="deploy/qa/$service/deployment.yaml"
            PROD_FILE="deploy/prod/$service/deployment.yaml"
            if [[ -f "$QA_FILE" ]]; then
              IMAGE=$(awk '$1=="image:"{print $2; exit}' "$QA_FILE")
              mkdir -p "deploy/prod/$service"
              sed "s/namespace: qa/namespace: prod/g" "$QA_FILE" > "$PROD_FILE"
              # Ajustar replicas para producao (ex: 3)
              sed -i "s/replicas: 1/replicas: 3/g" "$PROD_FILE"
              awk -v new_image="$IMAGE" 'BEGIN{done=0} {if(!done && $1=="image:"){match($0, /^[[:space:]]*/); indent=substr($0, RSTART, RLENGTH); print indent "image: " new_image; done=1} else print}' "$PROD_FILE" > "$PROD_FILE.tmp" && mv "$PROD_FILE.tmp" "$PROD_FILE"
            fi
          done
      - name: Commit & push PROD updates
        shell: bash
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add deploy/prod/
          git commit -m "chore(prod): promote images from qa [skip ci]" || echo "No changes"
          git push origin HEAD:main
